@import "../theme";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */
// scrollbar styling for the whole page
i {
  user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;

    &-track {
      background: $whiteYellow;
      border-radius: 5px;
    }

    &-thumb {
      background: $greyBlue;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
}
Button {
  font-family: sans-serif;
}

.lobby {
  &.container {
    background: rgba(255, 255, 255);
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.room-list-wrapper {
    user-select: none;
    position: absolute;  // Using absolute positioning
    right: 3%;           // Positioned to the right
    top: 10%;           // 10% from the top to center
    width: 40%;         // 40% of the viewport width
    height: 80%;        // 80% of the viewport height
    display: flex;
    flex-direction: column;
    background-color: $classicYellow;
    padding: 10px;
    border-radius: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
  }
  &.room-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    h1 {
      color: $whiteYellow;
      text-shadow: none;
      text-transform: none;
      margin-inline: 5%;
      font-weight: 800;
      font-size: 2em;
    }
    &.btn-container {
      all: initial; // avoid the inherited styles
      position: relative; // absolute position relative to the parent
      background-color: transparent; // use button's color
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      height: auto;
      width: 100%;
      bottom: 1.5%;
      left: 0%;
      margin-top: 30px;
      flex-grow: 1;
      font-family: sans-serif;
      .create-room-btn {
        user-select: none;
        bottom: 0%;
        min-width: fit-content;
        width: 20%;
        min-height: 50px;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 1.3em;
        background-color: $darkBlue;
        color: white;
        // don't capitalize the text
        text-transform: none;
        // make the text bold
        font-weight: bolder;
      }
    }
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}
.room-container {
  display: flex;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0 0 0 4px $whiteYellow;
  border-radius: 10px;
  padding: 10px;
  margin-inline: 5%;
  justify-content: space-between;
  flex-direction: row;
  text-align: end;
}
.room {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  //text-align: center;
  //overflow: hidden;
  .room-header {
    margin-left: 10px;
    flex-shrink: 0;     // Allow both children to grow and take up equal space
    display: flex;
    flex-direction: column;    // Stack the children of these containers vertically
    align-items: center;       // Center the items horizontally
    justify-content: flex-end;   // Center the items vertically
    padding: 10px;
    text-align: right;
  }
  .room-header {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    margin-left: 10px;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Horizontally center */
    justify-content: flex-end; /* Vertically center */
    text-align: right;
    padding: 10px;    // Align room details to the end of the flex container
  }
  .room-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;

    .room-theme {
      font-weight: bold;
    }
  }
}

.avatar-popup{
  max-width: 80vw;
  justify-content: flex-start;
  .popup-content{
    display: flex;
    justify-content: flex-start;
  }
  .avatar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .avatar-container {
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #D9D9D9; /* Default background color */
    transition: background-color 0.5s ease;
  }

  .avatar-container.selected {
    background-color: $lightYellow; /* Background color for selected avatar */
  }

  .avatar-container:hover {
    background-color: darken(#D9D9D9, 20%);
  }
  .avatar-container.selected:hover {
    background-color: $lightYellow;
  }

  i {
    display: block;
    font-size: 3.8rem;
    cursor: pointer;
  }

}
.player {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  user-select: none;
  i {
    margin-top: 0.1rem;
  }
}

.plus-player {
  background: rgba(217, 217, 217, 1);
  border-radius: 20px;
  width: 85px;
  height: 85px;
  aspect-ratio: 1;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.room-players {
  align-items: flex-start;   // Align the players to the start of the flex container
  flex: 1 1 auto;                // Allow both children to grow and take up equal space
  display: flex;
  flex-direction: row;    // Stack children vertically
  padding: 10px;
  overflow-x: auto;
  white-space: nowrap;
}
.status-container {
  width: 18%; /* Or any fixed width */
  display: inline-block; /* Or block, depending on your layout needs */
}
.room-status {
  padding: 4px;
  //width: 70px;
  display: inline-block;
  text-align: center;
  border-radius: $borderRadius; // 确保你已定义了 $borderRadius 变量

  &.in-game {
    background-color: orange;
  }
  &.waiting {
    background-color: lightgreen; // 等待状态的颜色
  }
  &.game-over {
    background-color: lightcoral; // 游戏结束状态的颜色
  }
}
.player {
  background: rgba(217, 217, 217, 1);
  border-radius: 20px;
  width: 85px;
  height: 85px;
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: gray;
  }
  &.status {
    font-weight: 600;
    margin-left: 50%;
  }
  &.namelink {
    color: white;
  }
  &.namelink:hover {
    color: green;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
  }
}
.name {
  font-weight: 500;
  color: black;
  text-align: center;
}

.user-container {
  text-align: center;
  position: absolute;  // Using absolute positioning
  left: 3%;           // Positioned to the left
  top: 10%;           // 10% from the top to center
  width: 100px;         
  height: 100px;        
  background: #D9D9D9;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.title-container {
  position: absolute;
  left: 15%;
  top: 25%;
  font-size: 15vw;
}

.big-title {
  user-select: none;
  color: $classicYellow;
  font-family: "Acme", sans-serif;
}

.information {
  position: absolute;
  display: flex;
  top: 0;
  right: -10%;
  width: 10%;
  aspect-ratio: 1;
  font-size: 0.15em;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  background: $classicYellow;
  border-radius: 50%;
  cursor: pointer;
  animation: jelly 1s infinite;
  user-select: none;
}

@keyframes jelly {
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 0.9);
  }
  50% {
    transform: scale(0.9, 1.1);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
}

.intro-cnt {
  width: 550px;
  max-width: 40vw;
  ul {
    padding-left: 1rem;
  }
}
.profile-popup {
  &.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    // font-size: 1.5em;
    .field{
      display: flex;
      flex-direction: row;
      align-content: center;
      .label {
        display: flex;
        align-items: center;
      }
    }
    input {
      width: 300px;
      max-width: 60vw;
      padding-left: 10px;
      border: 1px solid black;
      border-radius: 0.75em;
      background: transparentize(white, 0.4);
      color: $textColor;
    }
    .avatar-container {
      display: flex;
      justify-content: center; /* Horizontally center */
      margin-bottom: 3rem;
      i {
        font-size: 10rem;
        color: $classicYellow;
        cursor: pointer;
      }
    }
  }

  &.header-cnt {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 2em;
    .title {
      font-size: 1.5em;
      margin-bottom: 20px;
      display: inline;
      text-align: center;
    }
  }
  &.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10%;
    Button {
      user-select: none;
      height: auto;
      font-size: 1em;
      padding: 0.6em;
      margin: 0 10px;
      color: white;
      background-color: $classicYellow;
    }
  }
  // &.label {
  //   display: flex;
  //   font-size: 32px;
  // }
  // &.field {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  // }
  // &.input {
  //   height: 35px;
  //   padding-left: 15px;
  //   margin-left: 4px;
  //   border: none;
  //   border-radius: 0.75em;
  //   margin-top: 5px;
  //   background: #FFF3CF;
  //   color: $textColor;
  // }

}

.custom-number-input {
  display: flex;
  align-items: center;
}

.custom-number-input button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.custom-number-input button:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.custom-number-input input {
  width: 60px;
  text-align: center;
  font-size: 18px;
  margin: 0 5px;
}

.room-creation-popup {
  //height: 60%;
  &.content {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    .title {
      font-size: 1.4em;
      margin-bottom: 5px;
      display:inline;
      text-align: center;
    }
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
    .label {
      flex-grow: 0.5;
      font-size: 0.6em;
      align-self: flex-start;
    }
    
    input {
      font-size: 1em;
      height: 1.2em;
      max-width: 60vw;
      padding-left: 1px;
      margin-left: 4px;
      border: 1px solid black;
      border-radius: 0.75em;
      background: transparentize(white, 0.4);
      color: $textColor;
      text-align: center;
    }
  }
  .custom-number-input {
    width: 13rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $classicYellow;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      color: white;
      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
    input {
      width: 80%;
      text-align: center;
      height: 1.2em;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
        margin: 0;
      }
    }
  }
  .theme-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 0.8em;
    width: 13rem;
    max-width: 60vw;
    height: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    //margin-top: 20px;
    // margin-bottom: 40px;
    select {
      $select-color: lighten($classicYellow, 7%);
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: $select-color;
      text-align: center;
      border: 1px solid $classicYellow;
      border-radius: 0.75em;
      option {
        background-color: $select-color; //TODO: firefox not supporting this
        outline: none;
        text-align: center;
      }
    }
  }
  &.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    Button {
      height: auto;
      font-size: 1em;
      padding: 0.6em;
      margin: 0 10px;
      color: white;
      background-color: $classicYellow;
    }
  }
}
.btn-logout-container {
  all: initial;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-top: 10px;
  flex-grow: 1;
  font-family: sans-serif;
}

.logout-btn {
  position: absolute;
  left: 3%;
  bottom: 10%;
  min-width: fit-content;
  width: 30px;
  min-height: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1.3em;
  background-color: $classicYellow;
  color: white;
  text-transform: none;
  font-weight: bolder;
  user-select: none;
}

.important-note {
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  background-color: $classicYellow;
  padding: 10px;
  //border: 2px solid red;
  border-radius: 5px;
  text-align: center;
  transition: background-color 2s ease;
  transition: color 1s ease;
}

.important-note:hover {
  background-color: $lightYellow;
  color:$classicYellow;
  cursor: pointer;
}
