@import "../theme";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.container {
    background: rgba(255, 255, 255);
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.room-list::-webkit-scrollbar{
      width: 10px;
      height: 10px;

      &-track{
        background: $whiteYellow;
        border-radius: 5px;
      }

      &-thumb{
        background: $greyBlue;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }
    }
  &.room-list-wrapper{
    position: absolute;  // 使用绝对定位
    right: 3%;           // 定位到右边
    top: 10%;           // 从顶部留下10%的空间以居中显示
    width: 40%;         // 宽度为视口宽度的40%
    height: 80%;        // 高度为视口高度的80%
    display: flex;
    flex-direction: column;
    background-color: $classicYellow;
    padding: 10px;
    border-radius: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
  }
  &.room-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    &.btn-container{
      all: initial; // avoid the inherited styles
      position: relative; // absolute pos relative to the parent      
      background-color: transparent; // use Btn's color
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      height: auto;
      width: 100%;
      bottom: 3%;
      left: 0%;
      margin-top: 2%;
      flex-grow: 1;
      .create-room-btn{
        bottom: 0%;
        min-width: fit-content;
        width: 20%;
        min-height: 50px;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 1.3em;
        background-color: $darkBlue;
        color: white;
        // dont capitalize the text
        text-transform: none;
        // make the text bold
        font-weight: bolder;
      }
    }
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}
.room-container{
  display: flex;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0 0 0 4px $whiteYellow;
  border-radius: 10px;
  padding: 10px;
  margin-inline: 5%;
  justify-content: space-between;
  flex-direction: row;
}
.room {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  //overflow: hidden;

  .room-header{
    margin-left: 10px;
    flex-shrink: 0;     // Allow both children to grow and take up equal space
    display: flex;
    flex-direction: column;    // Stack the children of these containers vertically
    align-items: center;       // Center the items horizontally
    justify-content: center;   // Center the items vertically
    padding: 10px;
  }

  //.room-players {
  //  width: 70%;
  //  align-items: flex-start;   // Align the players to the start of the flex container
  //  flex: 1 1 auto;                // Allow both children to grow and take up equal space
  //  display: flex;
  //  flex-direction: row;    // Stack the children of these containers vertically
  //  //align-items: center;       // Center the items horizontally
  //  justify-content: center;   // Center the items vertically
  //  padding: 10px;
  //  overflow-x: auto;
  //  white-space: nowrap;
  //}

  .room-header {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    margin-left: 10px;
    flex-direction: column; /* 堆叠子元素 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    padding: 10px;    // Align the room details to the end of the flex container
  }



  .room-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;

    .room-theme {
      font-weight: bold;
    }

  }
}
.avatar-list {
  display: flex;
  flex-wrap: wrap; // 允许头像列表换行
  justify-content: flex-start; // 头像左对齐
  margin: 0 -10px; // 用于抵消每个头像的外边距，可以根据实际需求调整

  .player {
    width: 20%; // 四个头像一行，每个占总宽的25%
    padding-left: 10%; // 每个头像周围的间距，可以根据实际需求调整
    box-sizing: border-box; // 包括padding在内的宽度计算方式

    i {
      display: block; // 确保图标块状显示
      font-size: 3.8rem; // 图标大小
      cursor: pointer; // 鼠标悬停时显示指针
      margin: 10px 0; // 上下间距，可以根据需要调整
    }
  }
}
.player {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;

  .player-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D9D9D9; // 默认背景色
  }

  .player-username {
    font-size: 0.8em;
  }
}
.room-players {
  //width: 70%;

  align-items: flex-start;   // Align the players to the start of the flex container
  flex: 1 1 auto;                // Allow both children to grow and take up equal space
  display: flex;
  flex-direction: row;    // Stack the children of these containers vertically
  //align-items: center;       // Center the items horizontally
  //justify-content: center;   // Center the items vertically
  padding: 10px;
  overflow-x: auto;
  white-space: nowrap;
}
.status-container {
  width: 18%; /* 或者任何固定宽度 */
  display: inline-block; /* 或者 block，取决于你的布局需求 */
}
.room-status {
  padding: 4px;
  width: 70px;
  display: inline-block;
  text-align: center;
  &.in-game {
    border-radius: $borderRadius;
    background-color: orange;
  }
  &.free {

    border-radius: $borderRadius;
    background-color: lightgreen;
  }
}
.player {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }
  &.status {
    font-weight: 600;
    margin-left: 50%;
  }
  &.namelink {
    color: white;
  }
  &.namelink:hover {
    color: green;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
  }
}
.name {
  font-weight: 500;
  color: black;
  text-align: center;
}

.user-container{
  text-align: center;
  position: absolute;  // 使用绝对定位
  left: 3%;           // 定位到zuo边
  top: 10%;           // 从顶部留下10%的空间以居中显示
  width: 100px;         // 宽度为视口宽度的40%
  height: 100px;        // 高度为视口高度的80%
  background: #D9D9D9;
  border-radius: $borderRadius;
}
.title-container {
  position: absolute;  // 使用绝对定位
  left: 15%;           // 定位到zuo边
  top: 25%;           // 从顶部留下10%的空间以居中显示
  font-size: 20rem; /* 设定容器的字体大小 */
}

.big-title {
  /* 绝对定位可能不再需要，取决于布局需求 */
  color: $classicYellow;
  font-family: "Acme", sans-serif;
}

.information {
  position: absolute;
  top: 0; /* 顶部对齐 */
  right: 0; /* 右侧对齐 */
  width: 1.5rem; /* 定宽，可以用rem来调整 */
  height: 2rem; /* 定高，保持图标正方形 */
  font-size: 1.5rem; /* 可以根据需要调整 */
  font-weight: bold;
  //display: flex;
  text-align: center;
  //line-height: 2rem;
  color: white;
  background: $classicYellow;
  border-radius: $borderRadius;
  //padding: 0.25rem; /* 小间距增加点击区域 */
  cursor: pointer;
}
.profile-popup{
  height:50%;
  &.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 2em;
    .title{
      font-size: 1.5em;
      margin-bottom: 20px;
      display: inline;
      text-align: center;
    }
    .avatar-container {
      display: flex;
      justify-content: center; /* 水平居中 */
      margin-bottom: 3rem;
    }
  }

  &.header-cnt{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 2em;
    .title{
      font-size: 1.5em;
      margin-bottom: 20px;
      display: inline;
      text-align: center;
    }
  }
  &.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10%;
    Button{
      height: auto;
      font-size: 1em;
      padding: 0.6em;
      margin: 0 10px;
      color: white;
      background-color: $classicYellow;
    }
  }
  &.label {
    display: flex;
    font-size: 32px;
  }
  &.field {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: 4px;
    border: none;
    border-radius: 0.75em;
    margin-top: 5px;
    background: #FFF3CF;
    color: $textColor;
  }

}
.room-creation-popup{
  height: 50%;
  &.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 2em;
    .title{
      font-size: 1.5em;
      margin-bottom: 20px;
      display: inline;
      text-align: center;
    }
    input {
      height: 100px;
      width: 800px;
      padding-left: 1px;
      margin-left: 4px;
      border: 1px solid black;
      border-radius: 0.75em;
      margin-bottom: 20px;
      background: transparentize(white, 0.4);
      color: $textColor;
    }
  }
  .theme-dropdown{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 800px;
    height: 100px;
    margin-bottom: 20px;
    select{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: $classicYellow;
        text-align: center;        
        border-radius: 0.75em;
        option{
            background-color: $classicYellow; //TODO: firefox not supporting this
            outline: none;
            text-align: center;
        }
    }
  }
  &.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    Button{
      height: auto;
      font-size: 1em;
      padding: 0.6em;
      margin: 0 10px;
      color: white;
      background-color: $classicYellow;
    }
  }
}
