@import "../theme";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */
.button:focus, .input:focus, [tabIndex="0"]:focus {
  outline: 2px solid #66b3ff; /* 蓝色边框 */
  background-color: #e6f7ff; /* 浅蓝色背景 */
}
.lobby {
  &.container {
    background: rgba(255, 255, 255);
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.room-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;

    &-track {
      background: $whiteYellow;
      border-radius: 5px;
    }

    &-thumb {
      background: $greyBlue;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
  }
  &.room-list-wrapper {
    position: absolute;  // Using absolute positioning
    right: 3%;           // Positioned to the right
    top: 10%;           // 10% from the top to center
    width: 40%;         // 40% of the viewport width
    height: 80%;        // 80% of the viewport height
    display: flex;
    flex-direction: column;
    background-color: $classicYellow;
    padding: 10px;
    border-radius: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
  }
  &.room-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    &.btn-container {
      all: initial; // avoid the inherited styles
      position: relative; // absolute position relative to the parent
      background-color: transparent; // use button's color
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      height: auto;
      width: 100%;
      bottom: 1.5%;
      left: 0%;
      margin-top: 30px;
      flex-grow: 1;
      .create-room-btn {
        bottom: 0%;
        min-width: fit-content;
        width: 20%;
        min-height: 50px;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 1.3em;
        background-color: $darkBlue;
        color: white;
        // don't capitalize the text
        text-transform: none;
        // make the text bold
        font-weight: bolder;
      }
      .reload-room-btn {
        margin-left: 20px;
        bottom: 0%;
        min-width: fit-content;
        width: 20%;
        min-height: 50px;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 1.3em;
        background-color: $darkBlue;
        color: white;
        // don't capitalize the text
        text-transform: none;
        // make the text bold
        font-weight: bolder;
      }
    }
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}
.room-container {
  display: flex;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0 0 0 4px $whiteYellow;
  border-radius: 10px;
  padding: 10px;
  margin-inline: 5%;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  cursor: pointer;
}
.room {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  .room-header {
    margin-left: 10px;
    flex-shrink: 0;     // Allow both children to grow and take up equal space
    display: flex;
    flex-direction: column;    // Stack the children of these containers vertically
    align-items: center;       // Center the items horizontally
    justify-content: center;   // Center the items vertically
    padding: 10px;
    text-align: center;
  }
  .room-header {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    margin-left: 10px;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Horizontally center */
    justify-content: center; /* Vertically center */
    text-align: center;
    padding: 10px;    // Align room details to the end of the flex container
  }
  .room-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;

    .room-theme {
      font-weight: bold;
    }
  }
}
.avatar-list {
  display: flex;
  flex-wrap: wrap; // Allow avatar list to wrap
  justify-content: flex-start; // Align avatars to the left
  margin: 0 -10px; // Offset for each avatar's margin, adjustable as needed
  .player {
    width: 20%; // Four avatars per row, each taking 25% of total width
    padding-left: 10%; // Padding around each avatar, adjustable as needed
    box-sizing: border-box; // Include padding in width calculation
    i {
      display: block; // Ensure icons are block-level
      font-size: 3.8rem; // Icon size
      cursor: pointer; // Show pointer on hover
      margin: 10px 0; // Vertical spacing, adjustable as needed
    }
  }
}
.player {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  .player-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D9D9D9; // Default background color
  }
  .player-username {
    font-size: 0.8em;
  }
}
.room-players {
  align-items: flex-start;   // Align the players to the start of the flex container
  flex: 1 1 auto;                // Allow both children to grow and take up equal space
  display: flex;
  flex-direction: row;    // Stack children vertically
  padding: 10px;
  overflow-x: auto;
  white-space: nowrap;
}
.status-container {
  width: 18%; /* Or any fixed width */
  display: inline-block; /* Or block, depending on your layout needs */
}
.room-status {
  padding: 4px;
  width: 70px;
  display: inline-block;
  text-align: center;
  &.in-game {
    border-radius: $borderRadius;
    background-color: orange;
  }
  &.free {

    border-radius: $borderRadius;
    background-color: lightgreen;
  }
}
.player {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }
  &.status {
    font-weight: 600;
    margin-left: 50%;
  }
  &.namelink {
    color: white;
  }
  &.namelink:hover {
    color: green;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
  }
}
.name {
  font-weight: 500;
  color: black;
  text-align: center;
}

.user-container {
  text-align: center;
  position: absolute;  // Using absolute positioning
  left: 3%;           // Positioned to the left
  top: 10%;           // 10% from the top to center
  width: 100px;         // 40% of the viewport width
  height: 100px;        // 80% of the viewport height
  background: #D9D9D9;
  border-radius: $borderRadius;
}
.title-container {
  position: absolute;
  left: 15%;
  top: 25%;
  font-size: 15vw;
}

.big-title {

  color: $classicYellow;
  font-family: "Acme", sans-serif;
}

.information {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background: $classicYellow;
  border-radius: $borderRadius;
  cursor: pointer;
}
.intro-popup {
  height:60%;
  &.btn-container {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    Button {
      height: auto;
      font-size: 1em;
      padding: 0.6em;
      margin: 0 10px;
      color: white;
      background-color: $classicYellow;
    }
  }
}
.intro-cnt {
  width: 450px;
}
.profile-popup {
  height:60%;
  &.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.5em;
    .title {
      font-size: 1.5em;
      margin-bottom: 20px;
      display: inline;
      text-align: center;
    }
    .avatar-container {
      display: flex;
      justify-content: center; /* Horizontally center */
      margin-bottom: 3rem;
    }
  }

  &.header-cnt {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 2em;
    .title {
      font-size: 1.5em;
      margin-bottom: 20px;
      display: inline;
      text-align: center;
    }
  }
  &.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10%;
    Button {
      height: auto;
      font-size: 1em;
      padding: 0.6em;
      margin: 0 10px;
      color: white;
      background-color: $classicYellow;
    }
  }
  &.label {
    display: flex;
    font-size: 32px;
  }
  &.field {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: 4px;
    border: none;
    border-radius: 0.75em;
    margin-top: 5px;
    background: #FFF3CF;
    color: $textColor;
  }

}
.room-creation-popup {
  height: 60%;
  &.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 2em;
    .title {
      font-size: 1.5em;
      margin-bottom: 20px;
      display:inline;
      text-align: center;
    }
    input {
      height: 100px;
      width: 600px;
      padding-left: 1px;
      margin-left: 4px;
      border: 1px solid black;
      border-radius: 0.75em;
      margin-bottom: 20px;
      background: transparentize(white, 0.4);
      color: $textColor;
    }
  }
  .theme-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 600px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: $classicYellow;
      text-align: center;
      border-radius: 0.75em;
      option {
        background-color: $classicYellow; //TODO: firefox not supporting this
        outline: none;
        text-align: center;
      }
    }
  }
  &.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    Button {
      height: auto;
      font-size: 1em;
      padding: 0.6em;
      margin: 0 10px;
      color: white;
      background-color: $classicYellow;
    }
  }
}
.btn-logout-container {
  all: initial;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: auto;
  width: 100%;
  bottom: 1.5%;
  left: 0%;
  margin-top: 10px;
  flex-grow: 1;
  .logout-btn {
    bottom: 1%;
    min-width: fit-content;
    width: 20%;
    min-height: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1.3em;
    background-color: $classicYellow;
    color: white;
    text-transform: none;
    font-weight: bolder;
  }
}
