@import 'styles/theme';

.register {
  &.container {
    margin-top: 0em;
    min-height: 400px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 25em;
    font-size: 16px;
    font-weight: 300;
    padding-top: 30px;
    padding-left: 37px;
    padding-right: 37px;
    background-color: #C9D7DD;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
    border-radius: 1.5em;
    border: 20px solid $stroke;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  &.button-container1 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 0em;
  }
}

.kaeps-title{

  top: 5%;           // 从顶部留下10%的空间以居中显示
  font-size: 150px;
  padding-bottom: 5%;
  color: $classicYellow;
  font-family: "Acme", sans-serif;
}