@import "../theme";

.popup {
  background-color: $whiteYellow;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 0 10px $classicYellow;
  min-height: auto;
}
.popup::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  &-track {
    background: $whiteYellow;
    border-radius: 5px;
  }

  &-thumb {
    background: $greyBlue;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}
.popup-content {
  height: 100%; // fill the height of the popup
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
