@import "../theme";

.popup {
  background-color: $whiteYellow;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 0 10px $classicYellow;
  min-height: fit-content;
}
.popup-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  &-track {
    background: $whiteYellow;
    border-radius: 5px;
  }

  &-thumb {
    background: $greyBlue;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}
.popup-content {
  max-height: 60vh; 
  max-width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}
.popup-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    Button {
      user-select: none;
      height: auto;
      font-size: 1em;
      padding: 0.6em;
      margin: 0 10px;
      color: white;
      background-color: $classicYellow;
      text-transform: none;
    }
}
