@import "../theme";
// define color variables
$progressColor: $classicYellow;
$trackColor: $whiteYellow;
$thumbColor: $lightYellow;
$backgroundColor: $darkBlue;
.volume-bar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $backgroundColor;
  border-radius: 10px;
  width: fit-content;
  // only apply padding in horizontal direction
  padding: 2px 10px;
  // cursor: pointer;
  transition: background-color 0.3s ease;
  input {
    cursor: pointer;
  }
  &.toggle-mute{
    height: 20px;
    align-items: center;
    color: #fff;
    background-color: transparent;
    stroke: none;
    padding: 0;
  }
  &.slider {
    -webkit-appearance: none;
    appearance: none;

    height: 10px;
    width: 200px;
    vertical-align: middle;
    transition: width 0.3s ease;
    background: $trackColor;
    overflow: hidden;
    border-radius: 10px;
    padding: 0%;// remove default padding
    box-shadow: 1px 1px 0.2px 0.2px rgb(108, 111, 97);
    

  }
  ::-webkit-slider-thumb { // for webkit browsers
    -webkit-appearance: none;
    appearance: none;
  
    height: 12px;
    width: 12px;
    background-color: $thumbColor;
    border: none;
    /* slider progress trick :overflow hiden + box shadow*/
    box-shadow: -407px 0px 0px 400px $progressColor;
  }
  ::-moz-range-thumb { // for mozilla browsers
    height: 12px;
    width: 12px;
    background-color: $thumbColor;
    border: none;
    box-shadow: -407px 0px 1px 400px $progressColor;
  }
}
