
/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$accent: white;
$accentDark: rgba(255, 255, 255, 0.454);
$textColor: black;
$stroke: #637A9F;
$classicYellow: rgba(255, 204, 77, 1);
$lightYellow: rgba(255, 243, 207, 1);
$darkBlue: rgba(99, 122, 159, 1);
$middleBlue: rgba(143, 168, 199, 1);
$greyBlue: rgba(201, 215, 221, 1);
$whiteYellow: rgb(255, 252, 245);
$background: $whiteYellow;
/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

$fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;

$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.75em;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}